<h2 class="justifyitem-center text-center m-3 p-3 fs-2 "> Products</h2>

<section class="d-flex flex-wrap">
{{#each products}}
   <img src="{{this.photo}}" class="justyfyitem-center" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{#if this.category}}
        {{else}} <p>Sin categoria</p>
        {{/if}}</p>
        <p> $ {{this.price}}</p>
      <a href="/products/{{this.id}}" class="btn btn-success">+info</a>
    </div>
{{/each}}
</section>

